body {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: rgba(2, 139, 163, 0.856);
}
#navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    justify-content: space-between;
    flex-shrink: 1;
    
}
#navbar-options {
    display: inline-flex;
}
.navOption {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: auto;
}
#name {
    font-size: 50px;
    align-self: center;
}
